
body {
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

.tail {
	margin-bottom: 3em;
}

/* header styles */

h1.headerstyle {
	padding-top: 10px;
	padding-right: 6px;
	padding-bottom: 10px;
	padding-left: 6px;
	margin: 0em;
	transition: background-color 0.25s ease-in-out;
}

h1.headerstyle:hover {
	background-color: yellow;
}

h1.titlestyle {
	text-align: center;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 0.025em;
	margin: 0.6em;
}

h2.subsection {
	font-size: 12px;
	border-top: 1px #000 solid;
}

/* list styles */

ul.navstyle {
	list-style-type: none;
	margin: 0em;
	padding: 0px;
}

li.navstyle {
	float: left;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin: 0px;
	transition: background-color 0.25s ease-in-out;
}

li.navstyle:hover {
	background-color: yellow;
}

li.active {
	background-color: yellow;
}

/* link styles */

a {
	color: black;
	text-decoration: none;
}

/* image styles */

img.backgroundstyle {
	margin-left: 15%;
	margin-right: 15%;
}